@font-face {
  font-family: Interstate-bold;
  src: url(../fonts/Interstate-bold.ttf);
}

.ability_section_title {
  font-family: Interstate-bold;
  font-size: medium;
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
}

.abilities {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 5px;
  justify-content: center;
  border-top: 1px solid black;
  width: 100%;
}
