font-face {
  font-family: Interstate-light;
  src: url(../fonts/Interstate-light.ttf);
}

.ability {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  border-bottom: 1px solid black;
}

.ability > .none:nth-child(odd) {
  background-color: rgb(232, 232, 232);
}

.score {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  column-gap: 3px;
  font-family: Interstate-light;
  font-size: medium;
  align-items: center;
}

.score > label {
  overflow: hidden;
  padding: 8px 0;
}

.score > input {
  font-size: x-large;
  width: 48px;
  padding: 0;
}

.modifier {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  column-gap: 3px;
  align-items: center;
}

.modifier_title, .modifier_value {
  padding: 8px 0;
}


.save {
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 3px;
  align-items: center;
}

.save > label {
  display: grid;
  grid-template-columns: 1fr min-content min-content;
}

.save_title, .save_value {
  padding: 8px 0;
}