@font-face {
  font-family: Interstate-bold;
  src: url(../fonts/Interstate-bold.ttf);
}

.armor_class {
  display: grid;
  grid-template-rows: repeat(3, min-content) 1fr;
  row-gap: 4px;
  align-items: center;
  border: 3px double black;
  border-radius: 2px 10px;
  width: min-content;
  margin: auto;
  padding: 3px;
}

.armor_title {
  width: min-content;
  margin: auto;
  font-family: Interstate-bold;
  font-size: medium;
  white-space: nowrap;
}

.shield {
  display: grid;
  grid-template-columns: 1fr 1fr; 
}

.shield > label {
  justify-self: start;
  align-self: center;
  white-space: nowrap;
}

.shield > input {
  justify-self: end;
}

.armor_output {
  font-size: xx-large;
  width: min-content;
  margin: auto;
}