.class {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  grid-gap: 5px;
  width: min-content;
  border: 3px double black;
  border-radius: 2px 10px;
  padding: 5px;
}

.class_title {
  font-family: Interstate-bold;
  font-size: medium;
  white-space: nowrap;
}