.info {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: rgba(100, 100, 100, 0.5);
  z-index: 1;
}

.info_container {
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: min-content min-content 1fr;
  align-items: center;
  background-color: white;
  padding: 4px;
  width: min(90vw, 600px);
  max-height: min(90vh, 540px);
  border: 1px solid black;
  z-index: 1;
}

.info_close {
  height: min-content;
}

.separator {
  grid-area: 2 / 1 / 3 / -1;
  width: 100%;
}

.info_text {
  min-height: 20vh;
}

.hidden {
  display: none;
}