@font-face {
  font-family: Interstate-bold;
  src: url(../fonts/Interstate-bold.ttf);
}

.initiative {
  display: grid;
  grid-template-rows: min-content 1fr;
  row-gap: 5px;
  align-items: center;
  border: 3px double black;
  border-radius: 2px 10px;
  margin: auto;
  padding: 3px;
}

.initiative.none {
  background-color: white;
}

.initiative_title {
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 3px;
  width: 100%;
  margin: auto;
  font-family: Interstate-bold;
  font-size: medium;
  white-space: nowrap;
}

.initiative_output {
  font-size: xx-large;
  width: min-content;
  margin: auto;
}