@media (min-width: 700px) {
  .legend {
    width: 70%;
    margin: auto;
  }
}

@media (max-width: 700px) {
  .legend_arrow {
    max-width: 25px;
  }
}

.legend {
  text-align: center;
  margin-top: 5px;
}

.legend_explanation {
  font-size: medium;
}

.legend_display {
  display: flex;
  align-content: center;
  align-items: center;
  font-family: Interstate-bold; 
}

.legend_sourced, .legend_focused, .legend_affected {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 256px;
  min-height: 36px;
}