.skill {
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 3px;
  padding: 1px 0;
}

.skill > label {
  display: grid;
  grid-template-columns: 1fr min-content min-content;
}

.skill_value {
  margin-right: 7px;
}