@font-face {
  font-family: Interstate-bold;
  src: url(../fonts/Interstate-bold.ttf);
}

.weapons {
  display: grid;
  grid-template-rows: repeat(3, min-content);
}

.weapons_title {
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 3px;
  width: 100%;
  margin: auto;
  font-family: Interstate-bold;
  font-size: medium;
  white-space: nowrap;
  border-bottom: 1px solid black;
}

.weapon_table_title {
  font-size: small;
  font-family: Interstate-bold;
  border-bottom: 1px solid black;
  padding-top: 5px;
}

.weapon.none:nth-child(odd) {
  background-color: rgb(233, 232, 231);
}

.to_hit {
  text-align: center;
}

.damage_calculation, .to_hit_calculation {
  font-size: x-small;
  text-align: center;
}