@font-face {
  font-family: Interstate-bold;
  src: url(../fonts/Interstate-bold.ttf);
}

.weapons {
  display: grid;
  grid-template-rows: repeat(3, min-content);
}

.weapons > .none:nth-child(even) {
  background-color: rgb(233, 232, 231);
}

.weapons_title {
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 3px;
  width: 100%;
  margin: auto;
  font-family: Interstate-bold;
  font-size: medium;
  white-space: nowrap;
  border-bottom: 1px solid black;
}

.weapon {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 3px;
  padding: 3px 0;
}

.weapon > div {
  white-space: nowrap;
}

.tohit_info {
  text-align: center;
}

.attack_modifier {
  border-bottom: 1px solid black;
}

.damage_calculation, .tohit_calculation {
  font-size: x-small;
  text-align: center;
}