@font-face {
  font-family: Interstate-light;
  src: url(./fonts/Interstate-light.ttf);
}

#root {
  max-width: 850px;
  margin: auto;
}

.App {
  padding: 10px;
  margin: 0;
  padding: 0;
  font-family: Interstate-light;
  font-size: small;
}

.focused {
  background-color: rgb(86, 197, 86);
}

.sourced {
  background-color: rgb(255, 200, 200);
}

.affected {
  background-color: rgb(118, 118, 226);
}