@font-face {
  font-family: Interstate-light;
  src: url(./fonts/Interstate-light.ttf);
}

.App {
  min-width: 1000px;
  max-width: 1200px;
  padding: 10px;
  margin: auto;
  font-family: Interstate-light;
  font-size: small;
}

.focused {
  background-color: rgb(200, 255, 200);
}

.sourced {
  background-color: rgb(255, 200, 200);
}

.affected {
  background-color: rgb(200, 200, 255);
}
